nav {
    height: 50px;
    background-color: rgba(230, 233, 250, 0.728);
box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

ul {
    display: flex;
    margin-bottom: 0px;
    /* background-color: rgb(237, 248, 248); */
}

ul>li {
    display: inline-block;
     margin-right: 20px;
}


ul>li:last-of-type {
    flex: 1 1 auto;
    text-align: end;
}
button{
    background-color: rgb(175, 177, 177);
    color: rgb(86, 86, 86);
    border: none;
    font-size: large;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-top: 12px;
    width: 100px;
    border-radius: 4px;
    
}
button:hover{
    background-color: azure;
}