<div class="form-container mat-elevation-z5">
    <h1>Login</h1>
    <form>
        <mat-form-field>
            <input
                matInput
                placeholder="Email address"
                #userName
                required
                formControlName="email"
            />
            <mat-error *ngIf=""> Email address is required </mat-error>
            <mat-error *ngIf=""> Please enter a valid email address </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                type="password"
                placeholder="Password"
                #userPassword
                required
                formControlName="password"
            />
            <mat-error *ngIf=""> Password is required </mat-error>
        </mat-form-field>
        <div class="center margin-top">
            <button
                type="submit"
                (click)="authService.SignIn(userName.value, userPassword.value)"
                mat-raised-button
                color="primary"
            >
                Login
            </button>
        </div>
        <span class="center margin-top"
            >New to our platform?
            <a class="sign-up-link" routerLink="/register-user"
                >Sign up!</a
            ></span
        >
    </form>
</div>
