<mat-card
    *ngFor="let post of Post"
    class="form-card-container mat-elevation-z5"
>
    <div>
        <div>
            <mat-card-header>
                <mat-card-title>{{ post.title }}</mat-card-title>
            </mat-card-header>
        </div>
        <div>
            <img
                mat-card-image
                src="{{ post.imageUrl }}"
                alt="{{ post.title }}"
            />
        </div>
        <div>
            <mat-card-content>
                <p>
                    {{ post.text }}
                </p>
            </mat-card-content>
        </div>
    </div>
</mat-card>
