

.form-card-container {
    display: inline-block;
    max-width: 500px;
    margin: 55px;
    margin-top: 35px;
    
    background: rgba(253, 228, 139, 0.354);
    padding: 28px;
    border-radius: 16px;
  
}
mat-form-field {
  width: 100%;
}
.mat-card-image:first-child {
  /* margin-top: -16px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
button{
	display: block;
	margin: 40px;
    background-color: #dad2fc8d;
    color: rgb(97, 99, 99);
    border: none;
    font-size: large;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
    width: 100px;
    border-radius: 4px;
    
}
button:hover{
    background-color: azure;
}
.center {
    display: flex;
    justify-content: center;
  }
  
  .margin-top {
    margin-top: 16px !important;
  }
  .text-center {
    text-align: center;
  }
  /* .mat-card-image {
    border-radius: 5px;
    max-width: 400px;
    max-height: 400px;
  } */
  mat-card-title{
    margin: 12px;
    padding-bottom: 12px;
    text-align: center;
  }
  .title-text{
    align-items: center;
  }
  .mat-card-header {
    display: block;
    margin: 3px;
    
}