<mat-card
    *ngFor="let post of Post"
    class="form-card-container mat-elevation-z5"
>
    <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ post.imageUrl }}" alt="{{ post.title }}" />
    <mat-card-content>
        <p>
            {{ post.text }}
        </p>
    </mat-card-content>
    <mat-card-actions class="center margin-top">
        <button
            routerLink="update-post/{{ post.id }}"
            class="button mat-button"
        >
            Edit
        </button>
        <button (click)="removePost(post)" class="button" mat-button>
            Delete
        </button>
    </mat-card-actions>
</mat-card>
