.alert.alert-danger {
    color: red;
}
/* .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  } */

  .standart-card {
	background: rgb(234, 233, 233);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.18);
	max-width: 550px;
	min-height: 350px;
	margin: 100px auto;
	border-radius: 12px;
	box-sizing: border-box;
	text-align: center;
    color: lightslategray;
  }
  .standart-card > div {
	  padding: 30px;
  }
  button{
	margin: 40px;
    color: rgb(104, 109, 109);
    border: none;
    font-size: large;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
    width: 100px;
    border-radius: 4px;
    
}
button:hover{
    background-color: azure;
}
#login-btn {
    max-width: 45px;
}
.mat-form-field {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 70%;
}